:root {
  --main-font: 'IPressStart2P';
  --variable-font: 'Inter';
  --title-font-weight: 715;
  --text-font-weight: 410;
  --text-size: 18px;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
              repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
              linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #FFFFFF;
  --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --border-color: #000000;
  --border-label-color: #FFFFFF;
  --accent-color: #000000;
  --text-color-black: #000000;
  --text-color-white: #FFFFFF;
  --animation-fill-color:#FF0000;
  --contour-color: #000000;
  --sparks-color: #FF0000;
}
